.main__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.colors {
  flex: 1;
  position: relative;
}

/* .colors__time__two__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
} */
