@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap");
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

/* container wraps main and aside */
.container {
  display: flex;
  height: 100%;
}

.main {
  flex: 2;
  background-color: #fff;
}

.aside {
  flex: 1;
  background-color: var(--light-gray);
  /* background-color: #f2f5fa; */
}

@media screen and (max-width: 980px) {
  .main {
    flex: 1;
  }
}

@media screen and (max-width: 700px) {
  .aside {
    display: none;
  }
}

.btn {
  border: none;
  text-transform: uppercase;
  outline: none;
  font-size: 0.85em;
  padding: 0.5em;
  background-color: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
}

.btn-white {
  background-color: #fff;
  color: #555;
}

.btn-red {
  color: crimson;
  box-shadow: 0 0 2px rgba(216, 66, 96, 0.5);
}
