@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&display=swap");
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
}

/* container wraps main and aside */
.container {
  display: flex;
  height: 100%;
}

.main {
  flex: 2;
  background-color: #fff;
}

.aside {
  flex: 1;
  background-color: var(--light-gray);
  /* background-color: #f2f5fa; */
}

@media screen and (max-width: 980px) {
  .main {
    flex: 1;
  }
}

@media screen and (max-width: 700px) {
  .aside {
    display: none;
  }
}

.btn {
  border: none;
  text-transform: uppercase;
  outline: none;
  font-size: 0.85em;
  padding: 0.5em;
  background-color: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
}

.btn-white {
  background-color: #fff;
  color: #555;
}

.colorpicker {
  width: 100% !important;
  height: 250px !important;
}

.colorpicker .react-colorful__saturation {
  border-radius: 0;
  width: 100%;
}

.colorpicker .react-colorful__saturation-pointer {
  cursor: grab;
  position: relative;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border: none;
}

.colorpicker .react-colorful__saturation-pointer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: scale(1.1);
  z-index: -1;
}

.colorpicker .react-colorful__saturation-pointer:active {
  cursor: grabbing;
}

.colorpicker .react-colorful__hue {
  border-radius: 0;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.colorpicker .react-colorful__hue-pointer {
  cursor: grab;
  width: 1rem;
  height: 1rem;
  border: none;
  position: relative;
  z-index: 1;
}

.colorpicker .react-colorful__hue-pointer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  border-radius: 100%;
  transform: scale(1.25);
  z-index: -1;
}
