:root {
  /* COLORS */
  --light-gray: #f2f5fa;
  --text-color: #444;
  --overlay-background-color: rgba(0, 0, 0, 0.2);
  --error-color: rgba(220, 20, 60, 0.747);
  --succcess-color: rgb(97, 163, 126);

  /* BOX-SHADOW VARIABLES */
  --light-bottom-shadow: 0 1px 6px -2px rgba(0, 0, 0, 0.25);
  --light-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

  /* Z-INDEX VARIABLES */
  --low-z-index: 1;
  --mid-z-index: 10;
  --high-z-index: 100;
  --ultra-z-index: 1000;
}
