.snackbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: calc(100% - 2em);
  max-width: 500px;
  color: #fff;
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  z-index: var(--ultra-z-index);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease-in;
}

.snackbar.visible {
  pointer-events: all;
  opacity: 1;
}

.snackbar.success {
  /* color: seagreen; */
  color: var(--succcess-color);
  background-color: rgb(193, 247, 216);
  box-shadow: 0 0 15px rgb(193, 247, 216);
}

.snackbar.error {
  color: var(--error-color);
  background-color: #fdc9d4;
  box-shadow: 0 0 15px #fdc9d4;
}

.text {
  text-transform: uppercase;
  flex: 1;
  margin-right: 0.25rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.hideSnackbarBtn {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 50%;
  border: none;
  color: inherit;
}

.snackbar.error .hideSnackbarBtn {
  background-color: rgba(220, 20, 60, 0.137);
}

.snackbar.success .hideSnackbarBtn {
  background-color: rgba(46, 139, 86, 0.13);
}
