.changeColor {
}

.fromTo {
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

.fromTo > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fromTo > div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--light-gray);
}

.fromTo__arrow {
  font-size: 2em;
  margin: 0 0.25em;
}

.fromTo > div > div > span {
  position: absolute;
  z-index: 10;
  top: 50%;
  text-transform: uppercase;
  left: 50%;
  font-size: inherit;
  transform: translate(-50%, -50%);
}

.colorpickerContainer {
  padding: 1em;
}

.changeColor__actions {
  display: flex;
  margin: 0 1rem;
  gap: 1em;
}

.changeColor__actions button {
  flex: 1;
}

@media screen and (max-width: 500px) {
  .changeColor {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .fromTo {
    padding-bottom: 0.25em;
  }

  .fromTo > div {
    width: 100px;
    height: 100px;
    font-size: 0.95rem;
  }

  .fromTo > div::after {
    width: 90%;
    height: 90%;
  }

  .changeColor__actions {
    padding-bottom: 1rem;
  }
}
