.drag__handle {
  /* STYLES ARE JUST FOR TEST */
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  background-color: rgba(100, 100, 100, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: grab;
  margin: 0.25rem;
}

.drag__handle:active {
  cursor: grabbing;
}
